<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Retaurant">
    <meta name="author" content="afif alfiano">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Restaurant Apps Starter Project</title>
</head>

<body>
    <a tabIndex="0" href="#restaurant" class="skip">Menuju ke konten</a>
    <header>
        <div id="home" class="header__title">
            <a id="click_home">Hunger Apps</a>
        </div>
        <nav id="drawer">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Favorit</a></li>
                <li><a href="http://afifalfiano.netlify.app/" target="_blank" rel="noopener noreferrer" >About Us</a></li>
            </ul>
        </nav>
        <a id="hamburger" href="#">☰</a>
    </header>
    <section>
        <div class="hero">
            <img src="../images/heros/hero-image_2-min.jpg" alt="Hero Images 2">
        </div>
        <div class="information">
            <h1 tabindex="0">Choose Best Food Now!</h1>
            <h2 tabindex="0">Make sure you don't miss the special menu on restaurant from hunger apps</h2>
            <button id="click_restaurant">Check it now!</button>
        </div>
    </section>
    <main>
        <div id="restaurant" class="menu_resto">
            <h2 class="menu_resto__title">Explore Restaurant</h2>
            <div id="list" class="menu_resto__list"></div>
            <div id="notfound"></div>
        </div>
    </main>

    <footer>
        <div tabIndex="0">
            <p>Copyright @ 2020 - Hunger Apps</p>
        </div>
    </footer>
</body>

</html>